@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Rubik+Spray+Paint&display=swap");
@import url(https://fonts.googleapis.com/css2?family=Signika:wght@100;200;300;400;500;600;700&display=swap);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* color de fondo de la pàgina en general */
.backgroundIndex {
  background: rgb(29, 29, 45);
  font-family: "Roboto", sans-serif;
}
.logo {
  font-family: "Rubik Spray Paint", cursiva;
  font-size: -webkit-xxx-large;
  letter-spacing: 1px;
}
.menuItems {
  font-family: "Signika", sans-serif;
  font-weight: lighter;
  letter-spacing: 1px;
}
main {
  padding-top: 126px;
}
.width-logo-img{
  width: 11%;
}

main{
padding-top: 126px;
}

/*inicio del css de el archivo 404 */
#navbarError404{
background: radial-gradient(circle, rgba(5,5,112,1) 7%, rgba(3,3,40,1) 96%);

}
/* #navbarError404:hover{
} */
#paginaError{
height: 625px;
position: relative;
}
#paginaError:hover{
filter: contrast(4.5);
}


.letter-size{
font-size: calc(1.625rem + 4.5vw);
font-family: 'Signika', sans-serif;
}
.text-position{
  top: 224px;
  left: 507px;
}
.picture-error{
object-fit: cover;
height: 473px;
}
/*inicio del css del footer */

.bg-new-foorter{
background: linear-gradient(90deg, #161718 3%, #1f2328 24%, #050b18 73%);
}

.logo_footer{
filter:drop-shadow(23px 23px
      48px #0d6efd);
  text-decoration: none;    
}

/* hovers del footer */
.logo_footer:hover{  
filter: contrast(102%);
} 

.link_hover:hover{
font-weight: bold;
color: white;
}

/*inicio del css del footer */



.logo_footer {
  filter: drop-shadow(23px 23px 48px #0d6efd);
  text-decoration: none;
}

/* hovers del footer */
.logo_footer:hover {
  filter: contrast(102%);
}

.link_hover:hover {
  font-weight: bold;
  color: white;
}
/* inicio de media query del navbar y body */
@media all and (max-width: 993px) {
  .bg-new {
    background: radial-gradient(
      circle,
      rgb(5, 5, 65) 7%,
      rgba(3, 3, 40, 1) 96%
    );
  }
}

/* inicio de media query del footer */
@media all and (min-width: 50px) and (max-width: 576px) {
  .box-footer {
    width: auto;
    margin: auto;
    text-align: center;
  }
  .display-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .justify-icon-footer {
    justify-content: space-around;
  }
}

@media all and (max-width: 576px) {
  .summary {
    display: none ;
  }
  .buttonsSmall {
    display: block !important;
    text-align: left;
  }
  .buttons {
    display: none !important;
  }
  .summaryDetail {
    text-align: left;
    width: 90%!important;
    font-size: x-small!important;
  }
}

@media all and (max-width: 992px) {
  .title {
    display: none !important;
  }
  .subtitle {
    display: block !important;
  }

  .summary {
    font-size: small!important;
    width: 75% !important;
  }


  .controles {
    height: 100% !important;
    object-fit: cover;
  }

  .movieTitle {
    position: absolute;
    top: 30% !important;
    left: 10%;
  }
  .movie {
    object-fit: contain !important;
    height: 10% !important;
    width: 45% !important;
  }

  .card-img-top {
    height: auto !important;
  }
  .movieHidden {
    display: none !important;
  }

  .arrow {
    margin: 0 !important;
    height: auto !important;
  }

  .contenedor {
    width: 100% !important;
  }

  table {
    display: none!important;
  }
  .summaryDetail {
  
    width: 75%!important;
   
  }
}

@media all and (min-width: 375px) and (max-width: 765px) {
  .padding-icons {
    padding: 1em;
  }
  .titleMovie{
    font-size: large!important;
    
  }
  .icons{
    display:none;
  }
}

.movie {
  object-fit: cover;
  height: 175px;
  width: 15.8%;
}

.movie:hover {
  transform: scale(1.4);
  transition: transform 0.2s;
}

.controles {
  filter: brightness(40%);
  height: 600px;
  object-fit: cover;
}

.summary {
  text-align: left;
  width: 50%;
  font-size: large !important;
}

.movieTitle {
  position: absolute;
  top: 10%;
  left: 10%;
}
.movieHidden {
  display: block;
}

.title {
  scale: 1;
}
.subtitle {
  display: none;
  text-align: left;
}
.buttons {
  display: flex;
  flex-direction: row;
  justify-content: start;
}
.buttonsSmall {
  display: none;
}
.mainImage {
  position: relative;
  display: inline-block;
  text-align: center;
  width: 100%;
  height: 100%;
}

.contenedor {
  width: 95%;
}

.arrow {
  margin-left: 2%;
  width: 2%;
  height: 175px;
}
.arrow:hover {
  transform: scale(1.6);
  transition: transform 0.2s;
}
.box {
  background-color: #16191d;
}

.btn-circle {
  border-radius: 18px;
}

.card-img-top {
  height: 175px;
}

.icons {
  text-align: left;
  font-size: large;
}

table {
  width: 50%;
  text-align: left;
  font-size: large;
}
th {
  text-align: left;
  font-size: large;
  width: 15%;
}

.brillo{
  filter: brightness(30%);
}
/*
diseño 1
background: linear-gradient(90deg, #141619 0%, #1b1f22 27%, #0a1424 63%);
diseño  2
background: linear-gradient(90deg, #161718 3%, #1f2328 24%, #050b18 73%);
}

*/

/* inicio de media query del archivo 404*/
 @media all and (min-width:620px) and (max-width: 861px) {
.letter-size{
  font-size: calc(1.625rem + 2.5vw);
  font-family: 'Signika', sans-serif;
}
.text-position{
    top: 118px;
    left: 30px;
}
}

 @media all and (min-width:400px) and (max-width: 620px) {
.letter-size{
  font-size: calc(1rem + 1.5vw);
  font-family: 'Signika', sans-serif;
}
.text-position{
    top: 118px;
    left: 55px;
}
}
 @media all and (min-width:50px) and (max-width: 400px) {
.letter-size{
  font-size: calc(1rem + 1vw);
  font-family: 'Signika', sans-serif;
}
.text-position{
    top: 118px;
    left: 5px;
  }
#paginaError{
  height: 525px;
  position: relative;
}
  .picture-error{
  object-fit: cover;
  height: 370px;
  width: auto;
}
}
.titleMovie{
  text-align:left;
  
}
.movieTitleDetail {
  position: absolute;
  top: 10% !important;
  left: 10%;
}
.summaryDetail {
  text-align: left;
  width: 50%;
  font-size: large ;
}